<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Twitter Clone</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>

   <nav class="navbar sticky-top navbar-expand-lg bg-light navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="transform:translateX(-50%);left: 50%;
  position: absolute;" href="/">Twitter Clone</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            {% if not user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/reg">Sign Up</a>
                </li>
            {% else %}

                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/explore">Explore Feed</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Personal Feed</a>
                </li>
            {% endif %}
          </ul>
          {% if  user.is_authenticated %}
              <ul class="navbar-nav ">
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/logout">Logout</a>
                </li>
              </ul>
              <form method = 'POST' action="{% url 'search' %}" class="d-flex" role="search">
                  {% csrf_token %}
                <input class="form-control me-2" type="search" name = keyword placeholder="Search Users" aria-label="Search">
                <button class="btn btn-secondary" type="submit">Search</button>
              </form>
            {% endif %}
        </div>
      </div>
    </nav>



    <body style="background-color: #1DA1F2;">
        <div class="container" style="background-color: #E1E8ED;border-radius: 5px;">
            <div class="row d-flex justify-content-center" style="padding-bottom: 25px ">
                <div class="col-sm-9" style="background-color: #F5F8FA;padding-top: 25px;border-radius: 10px">
                {% block content %}
                    {% if messages %}
                        {% for message in messages  %}
                            {{ message }}
                        {% endfor %}
                    {%  endif %}
                {% endblock %}
                </div>
            </div>
        </div>

    </body>
</html>