<!DOCTYPE html>
{% extends "base.html" %}



{% block content %}

    {% if messages %}
        {% for m in messages  %}
            {{ m }}
        {% endfor %}
    {% endif %}


    <div style=''>
        <div style="display:table;width: 100%">
        <h1 style="display:table-cell;">{{ accInfo.name }}</h1>
        <a href="/profile/edit"><button class="btn btn-secondary rounded-small text-align: right;" style="float: right;" >Edit Profile</button></a>
        </div>



        <p>@{{user.get_username}}</p>
        <p>{{accInfo.bio }} </p>
        <p>{{numtweets }} Tweets     <a href="/profile/{{ user }}/followers">{{followers }} Followers</a>   <a href="/profile/{{ user }}/following">{{following }} Following</a></p>
        <p></p>
        <p></p>
    </div>




        <form method="POST" action="">
                {% csrf_token %}
            <div class="col-12">
                <div class="input-group">
                    <textarea type="text" minlength="1" maxlength="140" class="form-control form-control-lg" name="tweet" rows="2" placeholder="What's Happening?"></textarea>
                    <button type="submit" class="btn btn-secondary">Tweet</button>
                </div>
            </div>
        </form>



    <div style="padding: 15px">
        {% for i in tweets %}
            <div style="background-color:#E1E8ED;font-weight: bold;border-radius: 20px; width: auto; height: auto; padding: 5px 30px 5px 30px;">
                <div style="display:table ;width: 100%">
                    <h5>@{{ i.tweeter }}</h5>
                </div>
            <p>{{ i.text }}</p>
            <div style="display: flex;align-items: center;justify-content: space-between;">
                    <h6 class="text-left small">{{ i.numlikes }} Likes {{ i.numcomments }} Comments</h6>
                    <h6 class="text-right small">{{ i.time }}</h6>
                </div>
                <div style="padding-bottom: 5px">
                    <a href="/tweet/{{i.id}}/like"><button class="btn btn-outline-danger btn-sm"  >{% if user.id in i.likers %} Unlike{% else %} Like{% endif %}</button></a>
                    <a href="/tweet/{{i.id}}"><button class="btn btn-outline-danger btn-sm"  >Comment</button></a>
                    {% if i.tweeter  ==  user %}
                    <a href="/tweet/delete/{{i.id}}"><button class="btn btn-outline-danger btn-sm" >Delete</button></a>
                    {% endif %}
                </div>
            </div>
            <div style="padding-bottom: 10px"></div>
        {% endfor %}
    </div>

{% endblock %}