<!DOCTYPE html>

{% extends "base.html" %}



{% block content %}

    <div style=''>

        <h1 style="text-align: center;">Search Results</h1>

        {% if results %}
            {% for i in results %}
                <div style="background-color:#E1E8ED;font-weight: bold;border-radius: 20px; width: auto; height: auto; padding: 5px 30px 5px 30px;">
                <h2><a href="/profile/{{i.username}}">@{{ i.username }}</a></h2>
                </div>
                <div style="padding-bottom: 10px"></div>
            {% endfor %}
        {% else %}
             <h2><a href="/">No Results.</a></h2>
        {% endif %}

    </div>


{% endblock %}